@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.displayflex{
    display: flex;
}

/******************HEADER****************/

header{
    justify-content: flex-end;
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 0 29px 0 rgba(56, 31, 31, 0.25);
}

.headerderecha{
    text-align: center;
    align-items: center;
    margin-right: 95px;
}

.margen15{
    margin-right: 15px;
}

.botón{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
}

.botón-hola{
    width: 80px;
    height: 40px;
}

.botón-conocimientos{
    width: 175px;
    height: 40px;
}
.botón-proyectos{
    width: 130px;
    height: 40px;
}

.botón:hover{
    color:  #c999af;
}

.botón2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #c999af;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 100px;
    transition: 0.2s;
    cursor: pointer;
}

.botón2:hover{
    opacity: 0.8;
}

/******************SECTION ABOUT ME*************/

.aboutme{
    background-color:#eff0f1;
    padding: 100px 90px 130px;
    justify-content: center;
    text-align: center;
}

.flexrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spacebetween{
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
    padding: 110px 40px 130px;
    line-height: 1.4;
    width: 55%;
}

.holasoy{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 800;
}

.nombre{
    color: #c999af;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 5px;
}

.descripción{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #474646;
}

.botón1{
    text-decoration: none;
    background-color: #c999af;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    transition: 0.2s;
    cursor: pointer;
    font-weight: 500; 
}

.botón1:hover{
    opacity: 0.8;
}

.cajaimg1{
    width: 45%;
    padding: 110px 40px 130px;
    background-color: #eff0f1;
}

.img1{
    width: 100%;
    max-width: 550px;
}

/**************SECTION CONOCIMIENTOS*************/

.conocimientos{
    background-color: #FFFFFF ;
    display: flex;
    flex-direction: column;
    padding:100px 200px 130px ;
    color: black;
}

.caja-conocimientos{
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    line-height: 1.4;
    width: 100%;
}

.h1-conocimientos{
    font-size: 45px;
    font-weight: 900;
}

.p-conocimientos{
    width: 35%;
    margin-top: 20px;
}

.card1-conocimientos{
    padding-top: 70px;
    justify-content: space-evenly;
}

.card{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 8px;
    height: 240px;
    width: 270px;
    cursor: pointer; 
}

.card:hover{
    color:  #c999af;
    border-color:  #c999af;
    transition: 0.2s;
}

.card2-conocimientos{
    padding-top: 30px;
    justify-content: space-evenly;
}

.imgcard1{
    max-width: 30%;
    margin-top: 20px;
}

.imgcard2{
    max-width: 30%;
    margin-top: 60px;
}

.imgcard3{
    max-width: 30%;
    margin-top: 60px;
}

.imgcard4{
    max-width: 30%;
    margin-top: 20px;
}

.imgcard5{
    max-width: 30%;
    margin-top: 60px;
}

.imgcard6{
    max-width: 30%;
    margin-top: 60px;
}

.h3-conocimientos{
    margin-top: 20px;
}

/*************SECTION SOMEONE***************/

 .someone{
     background-color: #c999af;
     width: 100%;
     height: 560px;
     padding: 100px 250px 130px ; 
 }

 .caja-someone{
     flex-direction: column;
     align-items: center;
     text-align: center;
     justify-content: space-evenly;
     line-height: 1.6;
     color: black;
     width: 100%;
     background-color: #c999af;
 }

 .quote{
     font-size: 100px;
     font-weight: 800;
     margin-top: 40px;
     
 }

 .main-someone{
     margin-top: 60px;
 }

 .footer-someone{
     font-size: 30px;
     font-weight: 900;
     margin-top: 40px;
     margin-bottom: 20px;
 }

 /************SECTION PROYECTOS************/

 .proyectos{
     flex-direction: column;
     background-color: #FFFFFF;
     width: 100%;
     height: 1450px;
     padding:100px 100px 130px;
 }

 .caja-proyectos{
     flex-direction: column;
     align-items: center;
     text-align: center;
     width: 100%;
 }

 .h1-proyectos{
     font-size: 45px;
     font-weight: 900;
 }

 .p-proyectos{
     width: 40%;
     padding-top: 40px;
 }

 .h3-proyectos{
     margin-bottom: 5px;
     width: 100%;
 }

 .card-proyectos{
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: #F2F2F2;
    color: black;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 8px;
    cursor: pointer; 
    text-decoration: none;
 }

 .card-proyectos:hover{
    color:  #c999af;
    border-color:  #c999af;
    transition: 0.3s;
 }

 .card-fila1{
    height: 330px;
    width: 350px;
 }

 .card-fila2{
    height: 315px;
    width: 350px;
 }
 .card-fila3{
     
    height: 300px;
    width: 350px;
 }

 .card1-proyectos{
    flex-direction: row;
    padding-top: 70px;
    justify-content: space-evenly;
}

.card2-proyectos{
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-evenly;
}

.card3-proyectos{
    flex-direction: row;
    padding-top: 20px;
    justify-content:flex-start;
    margin-left: 62px;
}

.hola-img{
    width: 95%;
}

.social-img{
    width: 100%;
    max-width: 230px;
}

.mapas-img{
    width: 100%;
    max-width: 320px;
}

.colab-img{
    width: 100%;
    max-width: 220px;
}

.moviles-img{
    width: 100%;
    max-width: 260px;
}

.tea-img{
    width: 100%;
    max-width: 200px;
}

.calendario-img{
    width: 100%;
    max-width: 250px;
}

/**************SECTION CONTACTO**************/

.contacto{
    background-color:#EFF0F1;
    width: 100%;
    height: 1000px;
    padding:150px 100px 130px;
   
}

.caja-contacto{
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 8px;
}

.contactame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 60px;
    padding-top: 70px;
    width: 50%;
    height: 80%;
}

.h1-contacto{
    font-size: 45px;
    font-weight: 900;
}
.p-contacto{
    width: 80%;
    padding-top: 35px;
    line-height: 1.6;
}


.lista-contacto{
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 40px;
    cursor: pointer;
}

.links{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: space-evenly;
    
}

.links:hover{
    color: #c999af;
    transition: 0,4s;
}

a:active{
    border: 1px solid #c999af;
    box-shadow: 0 0 12px 0#c999af;
    transition: 1s;
}

.iconos-contacto:hover{
    color:white;
    background-color:#c999af;
    transition: 0,4s;
}
.iconos-contacto{
    display: flex;
    align-items: center;
    padding: 8px;
    color: #c999af;
    border: 1px solid  #FFFFFF;
    border-radius: 25px;
    width:35px;
    height: 35px;
}
.link-twitter{
    width: 210px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}

.link-git{
    width: 195px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}

.link-in{
    width: 160px;
    height: 45px;
    border: 1px solid  #FFFFFF;
    border-radius: 25px;
}

.link-mail{
    width: 290px;
    height: 45px;
    border: 1px solid  #FFFFFF;
    border-radius: 25px;
}

/*************SECTION CONTACTO ESCRIME***************/



.escribime{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 60px;
    padding-top: 70px;
    width: 50%;
    height: 80%;
}

.h1-escribime{
    font-size: 45px;
    font-weight: 900;
}

form{
    padding-top: 35px;
}

label{
    font-weight: 600;
}

.form-datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-nombre{
    margin-right: 30px;
}

.form-apellido{
    margin-left: 10px; 
}

.campo1{
    width: 200px;
    height: 40px;
    background-color: #e9e7e7;
    border: 1px solid #e9e7e7;
    border-radius: 25px;
    margin-top: 10px;
}

.campo2{
    width: 464px;
    height: 40px;
    background-color: #e9e7e7;
    border: 1px solid #e9e7e7;
    border-radius: 25px;
    margin-top: 10px;
}

.campo3{
    width: 464px; 
    height: 180px;
    background-color: #e9e7e7;
    border: 1px solid #e9e7e7;
    border-radius: 25px;
    margin-top: 10px;
}

::placeholder{
    padding: 10px;
}

.botón-enviar{
    font-size: 16px;
    background-color: #c999af;
    color: white;
    width: 120px;
    height: 45px;
    border-radius: 100px;
    transition: 0.2s;
    cursor: pointer;
}

.botón-enviar:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.botón-enviar:active{
    border: 1px solid #D86D92;
    box-shadow: 0 0 29px 0 #D86D92;
    transition: 1s;
}

/*************SECTION FOOTER*************/

footer{
    width: 100%;
    height: 320px;
    background-color: #c999af;
}




















