@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.displayflex {
  display: flex;
}

body.paletaColores{
  --colorPrincipal: #7FAA96;
  --colorSecundario: #F1C7A8;
}

body{
    color: var(--colorPrincipal);
}

h1{
    font-size: 38px;
}

p{
    width: 35%;
    margin-top: 20px;
}

h3{
    margin-top: 20px;
}

/******************HEADER****************/

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 29px 0 rgb(175, 174, 174);
}

.btn-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  margin-right: 15px;
  padding: 10px;
}

.btn-principal:hover {
  color: var(--colorPrincipal);
}

.btn-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--colorSecundario);
  color: white;
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
  padding: 10px 20px;
}

.btn-contacto:hover {
  opacity: 0.6;
}

/******************SECTION ABOUT ME*************/

.aboutme {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 20px 95px;
}

.spacebetween {
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 110px 40px;
  line-height: 1.9;
  width: 55%;
}

h2 {
  font-size: 30px;
  color: #5C555F;
}

.nombre {
  color: var(--colorPrincipal);
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}

.descripcion {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
  color: #888788;
  width: 100%;
}

.btn-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--colorSecundario);
  color: white;
  width: 15vw;
  height: 2.2em;
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
  font-weight: 500;
  margin-top: 12px;
}

.btn-aboutme:hover {
  opacity: 0.6;
}

.caja-img-aboutme {
  width: 45%;
  padding: 110px 40px 130px;
}

.img-aboutme {
  width: 100%;
  max-width: 550px;
}

/**************SECTION CONOCIMIENTOS*************/

.conocimientos {
  background-color:rgb(244 244 244);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 1.6;
  width: 100%;
  height: fit-content;
  padding: 60px 70px;
  color: black;
}

.caja-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 30px;
}

.card-conocimientos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colorPrincipal);
  border: 1px solid rgb(209 209 209);
  border-radius: 8px;
  margin: 0 15px;
  cursor: pointer;
  width: 16.25em;
  height: 14.375em;
  margin-bottom: 25px;
}

.card-conocimientos:hover {
  color: white;
  background-color: var(--colorSecundario);
  border-color: var(--colorSecundario);
  transition: 0.2s;
}

.imgcard {
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.img-conocimientos{
  max-width: 100%;
}

.i-conocimientos{
  font-size: 80px;
}

/*************SECTION SOMEONE***************/

.someone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  line-height: 1.6;
  color: black;
  background-color: var(--colorSecundario);
  width: 100%;
  height: 25em;
  padding: 30px 250px;
}

.quote {
  font-size: 70px;
  font-weight: 800;
}

.main-someone {
  border: 3px solid white;
  padding: 30px;
  width: 60%;
  line-height: 1.8;
  font-weight: 500;
}

.footer-someone {
  font-size: 30px;
  font-weight: 700;
  /* margin-top: 40px;
  margin-bottom: 20px; */
}

/************SECTION PROYECTOS************/

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(244 244 244);
  width: 100%;
  height: fit-content;
  padding: 100px 130px;
  color: black;
}

.caja-cards-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
}

.card-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color: black;
  border: 2px solid var(--colorPrincipal);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  height: 21.75em;
  width: 21.375em;
  margin-bottom: 30px;
}

.card-proyectos:hover {
  color: var(--colorSecundario);
  border: 2px solid var(--colorSecundario);
  transition: 0.3s;
}

.hola-img {
  width: 100%;
  max-width: 18em;
}

.editor-img {
  width: 100%;
  padding-top: 38px;
  max-width: 17.375em;
}

.mapas-img {
  width: 100%;
  max-width: 20em;
}

.colab-img {
  width: 100%;
  max-width: 13.75em;
}

.moviles-img {
  width: 100%;
  max-width: 16.25em;
}

.tea-img {
  width: 100%;
  max-width: 12.5em;
}

.calendario-img {
  width: 100%;
  max-width: 15.625em;
}

/**************SECTION CONTACTO**************/

.contacto {
  display: flex;
  background-color: white;
  width: 100%;
  height: 62.5rem;
  padding: 150px 100px;
  color: black;
}

.caja-contacto {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  border: 1px solid grey;
  border-radius: 8px;
}

.contactame {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-top: 70px;
  width: 50%;
  height: 80%;
}

.p-contacto {
  width: 80%;
  padding-top: 35px;
  line-height: 1.6;
}

.lista-contacto {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  cursor: pointer;
}

.links {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  color: black;  
  border: 1px solid white;
  border-radius: 25px;
  height: 2.8125rem;
}

.links:hover {
  color: var(--colorPrincipal);
  transition: 0, 4s;
}

.link-twitter {
  width: 210px;
}

.link-git {
  width: 195px;
}

.link-in {
  width: 160px;
}

.link-mail {
  width: 290px;
}

a:active {
  border: 1px solid var(--colorPrincipal);
  box-shadow: 0 0 12px 0 var(--colorPrincipal);
  transition: 1s;
}

.iconos-contacto {
  color: var(--colorPrincipal);
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 9px;
}

.iconos-contacto:hover {
  color: white;
  background-color: var(--colorPrincipal);
  transition: 0, 4s;
}



/*************SECTION CONTACTO ESCRIME***************/

.escribime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-right: 40px;
  padding-top: 70px;
  width: 50%;
  height: fit-content;
  margin-bottom: 50px;
}

form {
  width: 100%;
  padding-top: 35px;
  padding-right: 15px;
}

label {
  font-weight: 600;
}

.form-datos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nombre-apellido {
  width: 48%;
}

input{
  width: 100%;
  height: 40px;
  background-color: #eff0f1;
  border: 1px solid #eff0f1;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 20px;
  outline: none;
  padding: 0 10px;
}

textarea{
  width: 100%;
  height: 180px;
  background-color: #eff0f1;
  border: 1px solid #eff0f1;
  border-radius: 25px;
  margin-top: 10px;
  outline: none;
  padding: 10px;
}

input:focus {
  border: 1px solid var(--colorSecundario);
  box-shadow: 0 0 2px 0 var(--colorSecundario);
}

input[type="text"]:valid {
  border: 1px solid rgb(12, 114, 12);
  box-shadow: 0 0 2px 0 rgb(12, 114, 12);
}

input:invalid:not(:placeholder-shown) {
  border: 1px solid rgb(230, 20, 20);
  box-shadow: 0 0 2px 0 rgb(230, 20, 20);
}

input[type="email"]:valid {
  border: 1px solid rgb(12, 114, 12);
  box-shadow: 0 0 2px 0 rgb(12, 114, 12);
}

.container-input{
  display: flex;
  position: relative;
}

.valid-name{
  position: absolute;
  top: 24px;
  right: 14px;
  font-size: 14px;
  color: green;
  visibility: hidden;
}

.valid-lastname{
  position: absolute;
  top: 24px;
  right: 14px;
  font-size: 14px;
  color: green;
  visibility: hidden;
}

.valid-mail{
  position: absolute;
  top: 24px;
  right: 14px;
  font-size: 14px;
  color: green;
  visibility: hidden;
}

textarea[type="text"]:focus {
  border: 1px solid var(--colorSecundario);
  box-shadow: 0 0 2px 0 var(--colorSecundario);
}

.boton-enviar {
  font-size: 16px;
  background-color: var(--colorPrincipal);
  color: white;
  width: 20%;
  height: 35px;
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
  border: 0;
}

.boton-enviar:hover {
  opacity: 0.8;
  transition: 0.3s;
}


/*************SECTION FOOTER*************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20em;
  background-color: var(--colorPrincipal);
}
.caja-menú {
  display: flex;
} 

.link-footer {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 5px 20px;
  border-radius: 25px;
}

.link-footer:active {
  box-shadow: 0 0 35px 0 white;
  border-radius: 25px;
}

.caja-iconos {
  display: flex;
}

.iconos-footer {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  color: var(--colorPrincipal);
  background-color: white;
}

.iconos-footer:hover {
  border: 1px solid white;
  color: white;
  background-color: var(--colorPrincipal);
}

.p-footer {
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.heart-footer {
  color: var(--colorSecundario);
  font-size: 16px;
}

/***********RESPONSIVE**********/

/*****MEDIA MAX 900px*****/
@media screen  and (max-width: 900px) {
  header {
    display: none;
  }

  h1{
    font-size: 35px;
  }

  p{
    width: 85%;
  }

  /******ABOUT ME******/

  .aboutme {
    padding: 15px;
    flex-direction: column;
  } 

  .info {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 40px;
    margin-top: 40px;
  }
  
  .nombre {
    font-size: 50px;
  }

  .btn-aboutme {
    width: 25vw;
  }

  .caja-img-aboutme {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
  }

  /******CONOCIMIENTOS******/

  .conocimientos {
    padding: 50px 15px;
    height: fit-content;
  }

  .card-conocimientos{
    width: 12.25em;
    height: 11.375em;
  }

  .p-conocimientos {
    width: 80%;
  }

  .caja-cards {
    margin-top: 30px;
  }

  /*****SOMEONE*****/

  .someone {
    padding: 20px;
  }

  .main-someone {
    width: 75%;
}

  /****PROYECTOS****/

  .proyectos {
    padding: 50px  15px;
  }
  .p-proyectos {
    width: 80%;
  }
  .caja-cards-proyectos {
    justify-content: space-around;
  }


  /*******CONTACTO******/
  .contacto {
    width: 100%;
    height: fit-content;
    padding: 15px;
  }

  .caja-contacto {
    flex-direction: column;
    border: none;
  }

  .contactame {
    width: 100%;
    padding: 35px 10px;
  }

  .p-contacto{
    width: 95%;
  }

  .lista-contacto {
    display: flex;
    flex-direction: row;
  }
  
  .escribime {
    width: 100%;
    padding: 10px;
  }

  form {
    width: 100%;
    padding-right: 0;
  }
  .caja-menú {
    display: none;
  }

  footer{
    height: 12em;
  }
}

/************MEDIA MIN 320 MAX 575***********/

@media screen and (min-width: 320px) and (max-width: 575px) {
  header {
    display: none;
  }

  h1{
    font-size: 30px;
  }

  p{
    width: 90%;
  }
  
  .info{
    margin-top: 20px;
    padding: 20px;
  }

  .nombre{
    font-size: 45px ;
  }

  .caja-img-aboutme {
    padding: 20px ;
}

  .btn-aboutme {
    width: 38vw;
    font-size: 14px;
 }
 
 /***CONOCIMIENTOS***/
 .p-conocimientos {
  width: 90%;
}

 .caja-cards {
  margin-top: 40px;
  padding: 0;
}

.card-conocimientos{
  width: 8em;
  height: 8em;
  margin: 5px 0;
}

.i-conocimientos {
  font-size: 70px;
}

h3 {
  margin: 0;
}

/***SOMEONE***/
.someone {
  padding: 5px;
  height: fit-content;
}

.quote {
  padding: 8px;
  font-size: 40px;
}

.main-someone {
  width: 90%;
  padding: 15px;
}

.footer-someone {
  font-size: 26px;
  margin-top: 12px;
}

/***PROYECTOS***/

.proyectos{
  padding: 50px 10px;
}
.card-proyectos{
  height: 18em;
  width: 18em;
}

.hola-img {
  max-width: 16em;
}

.mapas-img {
  max-width: 17.5em;
}

.editor-img {
  max-width: 15em;
}
/***CONTACTAME***/
.contactame{
  padding: 35px 8px;
}
.p-contacto {
  width: 100%;
  padding-top: 15px;
}

.lista-contacto {
  display: flex;
  flex-direction: column;
}

.links{
  justify-content: right;
  font-size: 14px;
}

.link-mail {
  width: 280px;
}

.escribime {
  padding: 25px 8px;
  margin-bottom: 0;
}

form{
  padding: 25px 0;
}

.boton-enviar{
  width: 28%;
}

.link-footer {
  padding: 0 10px;
}

footer{
  height: 10em;
}
.p-footer {
  font-size: 14px;
}
}
