@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.displayflex {
  display: flex;
}

body.paletaColores{
  --colorPrincipal: #7FAA96;
  --colorSecundario: #F1C7A8;
  --colorTexto: #5C555F;
}

body{
    color: var(--colorPrincipal);
}

h1{
    font-size: 38px;
}

p{
    width: 35%;
    margin-top: 20px;
    line-height: 1.8;
    font-weight: 500;
}

h3{
    margin-top: 20px;
}

/******************HEADER****************/

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 29px 0 rgb(175, 174, 174);
}

.btn-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888788;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 25px;
  margin-right: 15px;
  padding: 10px;
  font-weight: 500;
}

.btn-principal:hover {
  color: var(--colorPrincipal);
}

.btn-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--colorSecundario);
  color: white;
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
  padding: 10px 20px;
  font-weight: 500;
}

.btn-contacto:hover {
  opacity: 0.6;
}

/******************SECTION ABOUT ME*************/

.aboutme {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 20px 95px;
}

.spacebetween {
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px 40px;
  line-height: 1.9;
  width: 55%;
}

h2 {
  font-size: 30px;
  color: #5C555F;
}

.nombre {
  color: var(--colorPrincipal);
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 5px;
}

.descripcion {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
  color: #888788;
  width: 100%;
}

.btn-aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--colorSecundario);
  color: white;
  width: 15vw;
  height: 2.2em;
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
  font-weight: 500;
  margin-top: 12px;
}

.btn-aboutme:hover {
  opacity: 0.6;
}

.caja-img-aboutme {
  width: 45%;
  padding: 60px  ;
}

.img-aboutme {
  width: 100%;
  max-width: 550px;
  border-radius: 50%;
}

/**************SECTION CONOCIMIENTOS*************/

.conocimientos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 1.6;
  width: 100%;
  height: fit-content;
  padding: 60px 70px;
  color: var(--colorTexto);
}

.caja-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px 30px;
  width: 80%;
}

.card-conocimientos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--colorPrincipal);
  color: black;
  border: 1px solid rgb(209 209 209);
  border-radius: 8px;
  margin: 0 15px;
  cursor: pointer;
  width: 10em;
  height: 10em;
  margin-bottom: 25px;
}

.card-conocimientos:hover {
  background-color: var(--colorSecundario);
  border-color: var(--colorSecundario);
  transition: 0.2s;
}

.imgcard {
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.img-conocimientos{
  max-width: 100%;
}

.i-conocimientos{
  font-size: 80px;
}

.img-bulma {
  width: 100%;
}

.img-mui {
  width: 100%;
}

.img-responsive {
  width: 100%;
}


/************SECTION PROYECTOS************/

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: fit-content;
  padding: 30px 130px;
  color: var(--colorTexto);
}

.caja-cards-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.card-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color:var(--colorTexto);
  border: 2px solid var(--colorPrincipal);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  height:16em;
  width: 16em;
  margin: 30px;
}

.card-proyectos h2 {
  font-size: 14px;
  color: var(--colorPrincipal);
}

.card-proyectos:hover {
  color: var(--colorSecundario);
  border: 2px solid var(--colorSecundario);
  transition: 0.3s;
}

.img-proyectos {
  width: 100%;
  padding: 8px;
}
/**************SECTION CONTACTO**************/

.contacto {
  display: flex;
  background-color: white;
  width: 100%;
  padding: 95px 100px;
  color: var(--colorTexto);
}

.caja-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
}

.contactame {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
}

.p-contacto {
  width: 100%;
  padding-top: 12px;
}

.lista-contacto {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  cursor: pointer;
}

.links {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  color: black;  
  border: 1px solid white;
  border-radius: 25px;
  height: 2.8125rem;
}

.links:hover {
  color: var(--colorPrincipal);
  transition: 0, 4s;
}

.link-twitter {
  width: 210px;
}

.link-git {
  width: 195px;
}

.link-in {
  width: 160px;
}

.link-mail {
  width: 290px;
}

a:active {
  border: 1px solid var(--colorPrincipal);
  box-shadow: 0 0 12px 0 var(--colorPrincipal);
  transition: 1s;
}

.iconos-contacto {
  color: var(--colorPrincipal);
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 9px;
}

.iconos-contacto:hover {
  color: white;
  background-color: var(--colorPrincipal);
  transition: 0, 4s;
}

/*************SECTION FOOTER*************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height:12em;
  background-color: var(--colorPrincipal);
}
.caja-menú {
  display: flex;
} 

.link-footer {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 5px 20px;
  border-radius: 25px;
}

.link-footer:active {
  box-shadow: 0 0 35px 0 white;
  border-radius: 25px;
}

.caja-iconos {
  display: flex;
}

.iconos-footer {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  color: var(--colorPrincipal);
  background-color: white;
}

.iconos-footer:hover {
  border: 1px solid white;
  color: white;
  background-color: var(--colorPrincipal);
}

.p-footer {
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

/***********RESPONSIVE**********/

/*****MEDIA MAX 900px*****/
@media screen  and (max-width: 900px) {
  header {
    display: none;
  }

  h1{
    font-size: 35px;
  }

  p{
    width: 85%;
  }

  /******ABOUT ME******/

  .aboutme {
    padding: 15px;
    flex-direction: column;
  } 

  .info {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 40px;
    margin-top: 40px;
  }
  
  .nombre {
    font-size: 50px;
  }

  .btn-aboutme {
    width: 25vw;
  }

  .caja-img-aboutme {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
  }

  /******CONOCIMIENTOS******/

  .conocimientos {
    padding: 50px 15px;
    height: fit-content;
  }

  .card-conocimientos{
    width: 12.25em;
    height: 11.375em;
  }

  .p-conocimientos {
    width: 80%;
  }

  .caja-cards {
    margin-top: 30px;
  }

  /****PROYECTOS****/

  .proyectos {
    padding: 50px  15px;
  }
  .p-proyectos {
    width: 80%;
  }
  .caja-cards-proyectos {
    justify-content: space-around;
  }


  /*******CONTACTO******/
  .contacto {
    width: 100%;
    height: fit-content;
    padding: 15px;
  }

  .caja-contacto {
    flex-direction: column;
    border: none;
  }

  .contactame {
    width: 100%;
    padding: 35px 10px;
  }

  .p-contacto{
    width: 95%;
  }

  .lista-contacto {
    display: flex;
    flex-direction: row;
  }
  
  .escribime {
    width: 100%;
    padding: 10px;
  }

  form {
    width: 100%;
    padding-right: 0;
  }
  .caja-menú {
    display: none;
  }

  footer{
    height: 12em;
  }
}

/************MEDIA MIN 320 MAX 575***********/

@media screen and (min-width: 320px) and (max-width: 575px) {
  header {
    display: none;
  }

  h1{
    font-size: 30px;
  }

  h2 {
    font-size: 26px;
}

  p{
    width: 90%;
  }
  
  .info{
    margin-top: 20px;
    padding: 20px;
  }

  .nombre {
    font-size: 28px;
    font-weight: 600;
}

  .caja-img-aboutme {
    padding: 20px 60px;
}

.img-aboutme {
  margin-bottom: 20px;
}

  .btn-aboutme {
    width: 38vw;
    font-size: 14px;
 }
 
 /***CONOCIMIENTOS***/
 .p-conocimientos {
  width: 90%;
}

 .caja-cards {
  margin-top: 40px;
  padding: 0;
}

.card-conocimientos{
  width: 8em;
  height: 8em;
  margin: 5px 0;
}

.i-conocimientos {
  font-size: 70px;
}

h3 {
  margin: 0;
}

/***PROYECTOS***/

.proyectos{
  padding: 50px 10px;
}

.caja-cards-proyectos {
  margin-top: 30px;
}

.card-proyectos{
  height: 18em;
  width: 18em;
}

.hola-img {
  max-width: 16em;
}

.mapas-img {
  max-width: 17.5em;
}

.editor-img {
  max-width: 15em;
}

/***CONTACTAME***/
.contactame{
  padding: 35px 8px;
}
.p-contacto {
  width: 100%;
  padding-top: 15px;
}

.lista-contacto {
  display: flex;
  flex-direction: column;
}

.links{
  justify-content: flex-start;
  font-size: 14px;
}

.link-mail {
  width: 280px;
}

.escribime {
  padding: 25px 8px;
  margin-bottom: 0;
}

form{
  padding: 25px 0;
}

.boton-enviar{
  width: 28%;
}

.link-footer {
  padding: 0 10px;
}

footer{
  height: 6em;
}

.iconos-footer {
  font-size: 16px;
}

.p-footer {
  font-size: 14px;
}
}
